div#shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 5rem;
  }

  div#outer-shop-items-ctnr {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  div#bottom-first-shop-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3rem 4rem;
  }

#item-shop-ctnr {
    /* width: 100%; */
    max-width: -moz-fit-content;
    max-width: fit-content;
    /* border: black solid 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  div#figure {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  img#figure-img {
    width: 25rem;
  }

  a#a-tag-link-shop-ctnr {
    text-decoration: none;
  }

  div#item-text-details-mini {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1rem;
    color: #444;
    font-size: 1.4rem;
  }

  .item-price-mini {
    font-weight: 700;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
  }

  .text.item-product-name {
    width: 20rem;
  }
