ul#top-nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a.top-nav-links {
    text-decoration: none;
    color: #000000bd;
    display: flex;
    font-weight: 600;
    justify-content: center;
}

img#nav-logo {
    width: 8rem;
}

#top-nav-auth-links-ctnr {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.fa-right-from-bracket {
    cursor: pointer;
}

.hide {
    display: none;
    position: absolute;
    margin-top: 25px;
    padding-top: 5px;
    font-size: 12px;
    animation: fadeIn 1s;
    font-weight: 600;
    color: #424242;
    border-top: 2px solid #424242;
}

.fa-right-from-bracket:hover + .hide {
    display: block;
}

.fa-shop:hover + .hide {
    display: block;
}

.fa-user:hover + .hide {
    display: block;
}

.fa-user-plus:hover + .hide {
    display: block;
}

#button-ctnr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.active {
    border-bottom: 2px black solid;
    transition: fadeIn 2s;
}

/* .category:hover {
    border-bottom: 2px black solid;
    transition: fadeIn 1s;
} */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
