ul#top-nav-ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a.top-nav-links {
    text-decoration: none;
    color: #000000bd;
    display: flex;
    position: relative;
    left: 10rem;
    font-weight: 600;
    justify-content: center;
}

.sell-product-nav {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
  }

img#nav-logo {
    width: 8rem;
}

#top-nav-auth-links-ctnr {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
  }


.fa-right-from-bracket {
    cursor: pointer;
}

.hide {
    display: none;
    position: absolute;
    width: max-content;
    margin-top: 25px;
    padding-top: 5px;
    font-size: 12px;
    animation: fadeIn 1s;
    font-weight: 600;
    color: #424242;
    border-top: 2px solid #424242;
}

.fa-right-from-bracket:hover+.hide {
    display: block;
}

.fa-shop:hover+.hide {
    display: block;
}

.fa-user:hover+.hide {
    display: block;
}

.fa-user-plus:hover+.hide {
    display: block;
}

.fa-bag-shopping:hover+.hide {
    display: block;
}

#button-ctnr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.active {
    border-bottom: 2px black solid;
    transition: fadeIn 2s;
}

li.profile-btn-ctnr {
    display: flex;
    justify-content: center;
}

.fa-user {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #474747;
}

.fa-right-from-bracket {
    color: #474747;

}

div#nav-unsigned-in-btns-auth {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20rem;
    margin-right: 8rem;
    /* border: 1px solid black; */
  }

.right-nav-icons {
    margin: 0 10px;
}

/* .category:hover {
    border-bottom: 2px black solid;
    transition: fadeIn 1s;
} */

.fa-heart:hover+.hide {
    display: block;
}

.fa-heart:hover {
    /* border-bottom: 2px black solid; */
    transition: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
