ul#top-nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a.top-nav-links {
    text-decoration: none;
    color: black;
}

img#nav-logo {
    width: 8rem;
}

#top-nav-auth-links-ctnr {
    display: flex;
    width: 500px;
    justify-content: space-around;
}
