#new-review-modal-body {
    height: 45rem;
    overflow: auto;
}

form#new-review-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* border: 1px black solid; */
    width: 801px;
    align-items: stretch;
    height: fit-content;
    padding: 45px;
}

.option-text {
    font-weight: 600;
}

.general-btn {
    position: relative;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05rem;
    border-radius: 5rem;
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 700;
    outline: none;
    border: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #a1e4b0;
}

.general-btn:hover {
    background: #a9e978;
}

label#recommend-label-review {
    margin-top: 25px;
}

@media (min-height: 1080px) {

    #modal-content {
        position: absolute;
        background-color: white;
        /* border-radius: 24px; */
        height: fit-content;
    }

    #new-review-modal-body {
        height: fit-content;
        overflow: auto;
    }

    form#new-review-form {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-content: center;
        /* border: 1px black solid; */
        width: 801px;
        align-items: stretch;
        height: -moz-fit-content;
        height: fit-content;
        padding: 45px;
    }
}
