.text {
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

div#products-listings-container {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* place-items: center; */
  display: flex;
  margin: 3rem 5rem 8rem 5rem;
  padding-left: 3rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

  .product-listing-container {
    max-width: 26em;
    max-height: 100%;
    /* border: 1px black solid; */
    /* padding: 20px; */
    /* margin: 2.5rem; */
    cursor: pointer;
    margin: 1em 0;
  }

  img.product-image-preview {
    height: 30em;
    width: 26em;
    object-position: center;
    object-fit: cover;
    position: relative;
    top: 3px;
  }


  #product-listings-details {
    display: flex;
    justify-content: space-around;
    width: 26rem;
  }

.product-listings-name {
    line-height: 1.5rem;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: rgb(68, 68, 68);
    width: 70%;
    overflow-wrap: anywhere;
    flex-wrap: wrap;
    display: flex;
    /* border: 1px black solid; */
    margin: 7px 0px 0.2rem;
}

.product-listings-price {
    font-weight: 700;
    line-height: 2.4rem;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
}

.product-image-overlay {
    position: absolute;
    background-color: #c5f0a4cc;
    overflow: hidden;
    width: 26rem;
    height: 0;
    bottom: 0;
    transition: .5s ease;
  }

.product-image-overlay-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.product-image-container {
    position: relative;
  width: 50%;
}

.product-image-container:hover .product-image-overlay {
    height: 15%;
}

#styles-header-container {
    height: 15rem;
    background-color: #e1f7d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
}

#all-products-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    width: fit-content;
    color: #2a2a2a;
    -webkit-font-smoothing: antialiased;
    margin-left: 100px;
}

#new-arrivals-text-all-products {
    text-transform: uppercase;
    width: fit-content;
    font-weight: 600;
    position: relative;
    top: 25px;
    color: #2a2a2a;
    -webkit-font-smoothing: antialiased;
    margin-left: 100px;
}

a#product-listing-link {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}
