video#video-header {
    height: 35em;
    width: 100%;
    object-position: bottom;
    object-fit: cover;
}

#video-header-title {
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    color: white;
    left: 14px;
    justify-content: space-evenly;
    z-index: 1;
    margin-left: 25px;
    top: 92px;
}

#video-header-title {
    text-transform: uppercase;
    font-size: 100px;
    position: fixed;
    color: #fffffff2;
    left: 14px;
    justify-content: space-evenly;
}
