video#video-header {
    height: 35em;
    width: 100%;
    object-position: bottom;
    object-fit: cover;
}

#video-header-title {
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    color: #fffffff2;
    left: 14px;
    z-index: 1;
    margin-left: 25px;
    top: 8rem;;
    justify-content: space-evenly;
}

#video-header-title-2 {
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    color: #fffffff2;
    right: 0;
    z-index: 1;
    margin-right: 25px;
    top: 8rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    text-align-last: right;
  }

  .demo-btn {
    /* position: absolute; */
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05rem;
    cursor: pointer;
    padding: 1rem 4.65rem;
    font-weight: 700;
    border-radius: 5rem;
    outline: none;
    border: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #a1e4b0;
    z-index: 2;
    margin: 0 15px;
    top: 39rem;
    left: 62rem;
  }

.demo-btn:hover {
    background: #a9e978;
}

.login-splash-btn {
    /* position: absolute; */
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05rem;
    cursor: pointer;
    padding: 1rem 6rem;
    font-weight: 700;
    border-radius: 5rem;
    outline: none;
    border: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #a1e4b0;
    z-index: 2;
    margin: 0 15px;
    top: 39rem;
    left: 45rem;
  }

  .login-splash-btn:hover {
    background: #a9e978;
  }

  .welcome-msg-splash {
    /* position: relative; */
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05rem;
    padding: 1rem 6rem;
    font-weight: 700;
    outline: none;
    border-radius: 5rem;
    border: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #a1e4b0;
    z-index: 2;
    margin: 0 15px;
    cursor: pointer;
    /* bottom: 0.5rem; */
    /* left: 7rem; */
    width: -moz-fit-content;
    width: fit-content;
  }

  div#welcome-btn-cntr {
    position: relative;
    bottom: 5.5rem;
    left: 55rem;
  }

  .welcome-msg-splash:hover {
    background: #a9e978;
  }

div#monthly-item-container {
    /* border: 1px solid black; */
    width: -moz-fit-content;
    width: fit-content;
    background: #ffffff29;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 12rem;
    left: 53rem;
    padding: 0rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
img#monthly-item-img {
    width: 20rem;
  }

  h2#featured-product-h2 {
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
  }

  div#non-logged-in-btns-cntr {
    position: absolute;
    width: 37rem;
    left: 47rem;
    top: 40.5rem;
  }

  div#bottom-page-container {
    /* border: 1px black solid; */
    height: 40rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4.5rem;
    align-items: center;
  }

  div#left-side-bottom-container {
    width: 50%;
    border: 1px solid black;
    background: #dbf4d7;
    height: 100%;
  }

  div#right-side-bottom-container {
    width: 50%;
    border: 1px solid black;
    background: #dbf4d7;
    height: 100%;
  }

  h2.text.bottom-splash-desc-title {
    color: #a8d1a1;
    text-shadow: -3px 2px #dbf4d7;
    font-weight: 700;
    font-size: 4rem;
    text-align: left;
    width: 38rem;
    position: relative;
    left: 20rem;
    /* margin-right: 25px; */
  }

  img#fitness-bottom-infographic-pic {
    width: 31rem;
    position: relative;
    bottom: 20rem;
    right: 20rem;
  }

  .splash-bottom-singup-btn {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.05rem;
    border-radius: 5rem;
    cursor: pointer;
    padding: 2rem 9rem;
    font-weight: 800;
    outline: none;
    border: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #a1e4b0;
    position: relative;
    bottom: 34rem;
    left: 19rem;
  }

  .splash-bottom-singup-btn:hover {
    background-color: #a9e978;
  }

@media (max-width: 1620px) {
    #video-header-title-2 {
        display: none;
      }

      div#monthly-item-container {
        /* border: 1px solid black; */
        width: -moz-fit-content;
        width: fit-content;
        background: #ffffff29;
        height: -moz-fit-content;
        height: fit-content;
        position: absolute;
        top: 12rem;
        left: 42rem;
        padding: 0rem 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
      }

      div#welcome-btn-cntr {
        position: relative;
        bottom: 5.5rem;
        left: 44rem;
      }

      div#non-logged-in-btns-cntr {
        position: absolute;
        width: 37rem;
        left: 36rem;
        top: 40.5rem;
      }
}


@media (max-width: 1080px) {
    #video-header-title {
        display: none;
      }

      div#monthly-item-container {
        /* border: 1px solid black; */
        width: -moz-fit-content;
        width: fit-content;
        background: #ffffff29;
        height: -moz-fit-content;
        height: fit-content;
        position: absolute;
        top: 12rem;
        left: 22rem;
        padding: 0rem 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
      }

      div#non-logged-in-btns-cntr {
        position: absolute;
        width: 37rem;
        left: 16rem;
        top: 40.5rem;
      }

      div#welcome-btn-cntr {
        position: relative;
        bottom: 5.5rem;
        left: 23.8rem;
      }
}

@media (max-width: 860px) {
    div#monthly-item-container {
        /* border: 1px solid black; */
        width: -moz-fit-content;
        width: fit-content;
        background: #ffffff29;
        height: -moz-fit-content;
        height: fit-content;
        position: absolute;
        top: 12rem;
        left: 15rem;
        padding: 0rem 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
      }

      div#non-logged-in-btns-cntr {
        position: absolute;
        width: 37rem;
        left: 9rem;
        top: 40.5rem;
      }

      div#welcome-btn-cntr {
        position: relative;
        bottom: 5.5rem;
        left: 16.8rem;
      }
}
