div#new-product-form-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#new-product-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* border: 1px black solid; */
    width: 801px;
    align-items: stretch;
    height: 1400px;
    padding: 45px;
}

input.create-product-input {
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    margin: 15px 0;
}

div.price-and-inv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
}

div#price-and-inv-ctnr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.price-and-inv.inv-input {
    margin-left: 218px;
}

input.create-product-input.price-and-inv-input {
    width: 275px;
}

textarea.create-product-input {
    min-height: 30%;
    resize: none;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 25px;
}

select.create-product-input {
    height: 3rem;
    padding-left: 5px;
    text-transform: uppercase;
    margin-top: 10px;
}

button.submit-btn {
    background-color: black;
    color: white;
    height: 5rem;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
}

.create-product-labels {
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: 600;
}

.desc-label {
    margin-top: 25px;
    margin-bottom: 10px;
}

.create-product-errors-div {
    background: #f7d0d0;
    width: 800px;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
