div#profile-sidebar-cntr {
    /* border: black 1px solid; */
    width: 15%;
    height: 100vh;
    padding: 3rem 2rem 0 1rem;
    background: rgb(0 0 0 / 1%);
  }

div#profile-top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

div#profile-greeting-text {
    margin-left: 1rem;
    font-size: 1rem;
}

div#profile-current-user-name {
    font-weight: 600;
    font-size: 1.25rem;
}

img#profile-img-user-overview {
    width: 8rem;
}

.profile-sidebar-category {
    /* border: 1px black solid; */
    color: rgb(68, 68, 68);
    text-decoration: none;
    width: 100%;
    padding: 1rem 0rem;
    list-style: none;
    padding-left: 1rem;
  }

.profile-sidebar-category:hover {
    background-color: #dbf4d7;
    cursor: pointer;
  }

.remove-link-dec {
    color: rgb(68, 68, 68);
    text-decoration: none;
    width: 100%;
  }
